*.o
tests-nico/*.o
tests-nico/*.a
tests-nico/tests-chm
entregable/corpus-post
entregable/test-chm.cpp
entregable/test-chm
entregable/test-2
entregable/test-3
entregable/test-5
entregable/corpus-*
entregable/output
tests-nico/tests-chm-no-concurrentes
