*.o
tests-nico/*.o
tests-nico/*.a
tests-nico/tests-chm
entregable/*.csv
entregable/tiempos
entregable/tiempos2
entregable/tiempos3
entregable/corpus-post
entregable/test-chm.cpp
entregable/test-chm
entregable/test-2
entregable/test-3
entregable/test-5
entregable/corpus-*
entregable/output
entregable/output.*
tests-nico/input_text*
tests-nico/tests-chm-no-concurrentes
*.tar.gz
